@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #157360;
    --cor1: #50A694;
    --cor2: #054113;
    --cor3: #4D1937;
    --cor4: #6E1573;
}

body {
    background-color: var(--cor2);
    height: 97vh;
}

header {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.589);
    padding: 50px;
    background-color: var(--cor0);
    text-align: center;
    color: white;
    font-variant-caps: small-caps;
    font-size: 2.3vw;
}

nav {
    background-color: var(--cor1);
}

main {
    max-width: 50%;
    min-width: 300px;
    background-color: var(--cor1);
}

.container {
    display: flex;
}

h2 {
    background-image: linear-gradient(to right, var(--cor3), var(--cor0));
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
    padding: 20px;
    text-align: justify;
}

p {
    text-align: justify;
    padding: 5px;
    color: black;
    font-size: 1.2em;
    line-height: 1.4em;
}

footer {
    text-align: center;
}

