@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: var(--cor2);
}

:root {
    --cor0: #157360;
    --cor1: #50A694;
    --cor2: #054113;
    --cor3: #4D1937;
    --cor4: #6E1573;
}

header {
    padding: 45px;
    background-image: linear-gradient(to right, #157360, #50A694);
}

header h1 {
    text-align: center;
    font-variant: small-caps;
}

main#aguia {
    background-image: url('imagens/aguia-paralax.jpg');
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    color: white;
}

@media(max-width: 1100px) {
    main#aguia p  {
        color: rgb(230, 61, 9);
        text-shadow: 0.5px 0.5px 1px black;
    }
}


h2 {
    background-image: linear-gradient(to right, #4D1937, var(--cor0));
    padding-left: 50px;
    color: white;
    text-align: center;
}

.animais {
    display: flex;
    max-width: 800px;
    margin: 10px;
    box-shadow: 2px 2px 4px black;
}


.conteudo-animais {
    margin: 10px;
    text-align: justify;
    line-height: 1.5em;
}

footer {
    background-color: var(--cor1);
}

footer p {
    text-align: center;
    color: white;
}

